.page-title {
    text-align: center;
    margin-top: 5rem;
}

.newtask-button {
    margin-top: 2rem;
}

.card-area {
    margin-top: 2rem;
}

.task-card {
    margin-top: 1rem;
}

.task-status {
    text-align: center;
}

.task-title {
    text-align: center;
}