.page-title {
    text-align: center;
    margin-top: 5rem;
}

.form-container {
    margin-top: 5rem;
}

.another-page {
    text-align: center;
    margin-top: 1rem;
}

.error-message-area {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
}